:root {
    --main-purple: #674baf;
    --main-white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--main-white);
    background-color: var(--main-purple);
    background-image: url('https://raw.githubusercontent.com/platzi/landing-page-con-unica-seccion-de-introduccin/5a61ab69b21631955ded4680aa1122652ceca270/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Header */

.header {
    width: 100%;
    height: 50px;
    
}

.header-container--logo {
    position: absolute;
}

.header-logo {
    width: 90px;
    position: relative;
    top: 30px;
    left: 30px;
}

/* main */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-div-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.main-div-container--image {
    width: 80%;
    align-items: center;
    
}

.main-section {
    width: 75%;
    padding-top: 40px;
    margin: 0 auto;

}

.main-section .h1 {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3rem;
}

.main-section--parragraph {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.6rem;
    padding-top: 20px;
}

.main-section-button-container {
    width: 180px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: var(--main-white);
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0px 4px 8px #363232;
}

.main-section--button {
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: var(--main-white);
    font-family: 'Roboto', sans-serif;
    color: var(--main-purple); 
     
}

/* Footer */ 
.footer {
    width: 100vw;
    height: 20vh;
    position: relative;
}

.footer-list-container {
    position: absolute;
    display: flex;
    width: 180px;
    left: calc(50% - 90px);
    top: calc(50% - 15px);
    justify-content: space-evenly;
}

.footer-list-item {
    width: 30px;
    height: 30px;
    list-style: none;
}

.footer-list-item a {
    display: inline-block;
    width: 20px;
    height: 20px; 
}
    

.facebook {
    background-image: url('https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-11.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url('https://icon-library.com/images/twitter-icon-png-white/twitter-icon-png-white-15.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url('https://assets.website-files.com/5e7dd008bf10b905a6686537/5fdb094deba728a40894aed6_white-instagram-icon-png-10.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
